{% extends 'real_estate/base.html' %}

{% block content %}
<style>
    button {
    background-color: #65db5c; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убрать границу */
    border-radius: 4px; /* Скругленные углы */
    padding: 10px 20px; /* Внутренние отступы */
    cursor: pointer; /* Смена курсора при наведении */
    font-size: 16px; /* Размер текста */
}

button:hover {
    background-color: #51ad4b; /* Изменение цвета фона при наведении */
}
</style>

<h1>{{title}}</h1>

<form action="{% url 'add_page' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Заключить договор</button>
</form>

{% endblock %}