{% extends 'real_estate/base.html' %}


{% block content %}
<style>
    .grid-container {
        display: grid;
        grid-row-gap: 10px;
    }
    .grid-item {
         border-radius: 10px;
         padding: 20px;
         border: solid 2px #c2c2c2;
         background-color: white;
         box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

</style>

<div class="grid-container">
    {% for r in realty %}
    <div class="grid-item">
      <div class="article-panel">
        <p class="first">Тип недвижимости: {{ r.type }}</p>
        <p class="last">Дата: {{ r.time_create|date:"d-m-Y H:i:s" }}</p>
    </div>
    {% if r.photo %}
    <p><img class="img-article-left thumb" src="{{ r.photo.url }}"></p>
    {% endif %}
    <h2>{{ r.title }}</h2>
    {% autoescape on %}
    {{ r.description|linebreaks|truncatewords:50 }}
    {% endautoescape %}
    <div class="clear"></div>
    <p class="link-read-post"><a href="{{ r.get_absolute_url }}">Подробнее</a></p>

    </div>
     {% endfor %}
</div>


{% endblock %}