{% extends 'real_estate/base.html' %}

{% block content %}


<h2>{{realty.title}}</h2>

<!--{% if post.photo %}-->
<!--<p><img class="img-article-left" src="{{post.photo.url}}"></p>-->
<!--{% endif %}-->
{% if realty.photo %}
<p><img style="float: left; padding 20px; margin: 20px;"  src="{{realty.photo.url}}"></p>
{% endif %}
{{realty.description|linebreaks}}
<p><b>Тип недвижимоти: </b>{{realty.type}} </p>
<p><b>Тип услуги: </b>{{realty.service_type}} </p>
<p><b>Площадь: </b>{{realty.area}} кв. м.</p>
<p><b>Стоимость: </b>{{realty.price}} $</p>
{% endblock %}