{% extends 'real_estate/base.html' %}
{% load static %}

{% block content %}
    <div align="middle">
        <h4>Сертификат от Министерства Финансов</h4>
        <hr/>
        <h1>Cвидетельство</h1>
        <h4>о внесении сведений</h4>
        <div style="display: flex; justify-content: space-between;">
            <p align="left">Минск</p>
            <p align="right">22.02.2023</p>
        </div>
        <h2><b>Общество с ограниченной ответственность "KeyHouse"</b></h2>
        <h2>(ИНН 7731340252)</h2>
        <h2><b><u>Реестровый номер: 8241</u></b></h2>
    </div>

    <p>Самый Главный</p>
    <p>Самый Главный в Министерстве Финансов</p>

    <hr/>
{% endblock %}