{% extends 'real_estate/base.html' %}
{% load static %}

{% block content %}

<div class="certificate .certificate-gradient">
    <h4>Сертификат от Министерства Финансов</h4>
    <h1>Cвидетельство</h1>
    <h4>о внесении сведений</h4>
    <p>Минск</p>
    <p>22.02.2023</p>
    <h2><b>Общество с ограниченной ответственность "KeyHouse"</b></h2>
    <h2>(ИНН 7731340252)</h2>
    <h2><b><u>Реестровый номер: 8241</u></b></h2>
    <div class="right-details">
        <p>Самый Главный</p>
        <p>Самый Главный в Министерстве Финансов</p>
    </div>
</div>
{% endblock %}
